/* *{outline:1px dashed #000} */
/* .product-container{background:#b72222}
.prod-advantages{background:#d94343}
.prod-adv-el{background:#ff9494}
.prod-pics{background:#d97f43}
.prod-pic-el{background:#ffbe94}
.prod-description{background:green}
.desc-el{background:#694c8c}
.desc-box-el{background:#9784ad}
.buy-box-el{background:#b5a8c4}
.additional-table{background:#959088}
.add-table-el{background:#d8f809}
.stats-el{background:#ffb528}
.galleries{background:#18df7a}
.gal-el{background:#59bd8a} */

* {
  text-transform: uppercase;
  color: #221812;
}
.main-container {margin: 1em 0}
@media screen and (min-width:1100px){
  .main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
  }
  .prod-advantages{grid-column:span 2}
}
@media screen and (min-width:1500px){
  .main-container{
    display: grid;
    grid-template-columns: 20% 40% 40%;
  }
  .prod-advantages{
    grid-row:1/2;
    grid-column:1/2
  }
}
.prod-advantages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

.pic-nav {display: flex}
.pic-gallery {display:none}
.prod-pics {
  display: flex;
  flex-direction: column;
  /* text-align:center; */
}
.pic-tags {justify-self: flex-start}
.pic-main {
  width:300px;
  height:300px;
  margin: 0 auto;
}
@media screen and (min-width:600px){
   .pic-nav {grid-area: pic-nav}
   .pic-gallery {
     grid-area: pic-gallery;   
     display: flex;
     flex-direction: column;
     align-items: flex-end;
  }  
   .pic-main {
     grid-area: pic-main;
     width:400px;
     height:400px;
     margin: 0;
    }
   .pic-tags {grid-area: pic-tags}
   .prod-pics {
     display: grid;
     grid-template-columns: 1fr 3fr 3fr;
     grid-template-rows: 1.5em 1fr 1fr 2em;
     grid-template-areas: 
       ". pic-nav pic-nav"
       "pic-gallery pic-main pic-main"
       "pic-gallery pic-main pic-main"
       ". pic-tags .";
   }
}
/* DESCRIPTION BOX LAYOUT */
.desc-main-stats img {
  grid-area: sword;
  height:56px;
  width:56px;
}
.desc-main-stats:nth-of-type(2) {grid-area: damage}
.desc-main-stats:nth-of-type(3) {grid-area: damageqty}
.desc-main-stats:nth-of-type(4) {grid-area: speed}
.desc-main-stats:nth-of-type(5) {grid-area: speedqty}
.desc-main-stats:nth-of-type(6) {grid-area: wielding}
.desc-main-stats:nth-of-type(7) {grid-area: wieldingtype}
.desc-box-stats{
  display: grid;
  grid-template-columns: 56px auto 1fr;
  grid-template-rows: 1.4em 1.4em 1.4em;
  grid-template-areas: 
    "sword damage damageqty"
    "sword speed speedqty"
    "sword wielding wieldingtype"
}
.desc-main-stats {
  margin-left: 1em;
  /* border-bottom:1px solid #221812; */
}
.color-qty {display:flex}
.qty {margin-left: 50%}
/* .desc-box-stats {display: flex} */

.buy-box-el:nth-of-type(1){grid-area:price}
.buy-box-el:nth-of-type(2){grid-area:buybutton}
.buy-box-el:nth-of-type(3){grid-area:shipment-cost}
.buy-box {
  margin: 0 auto;
  padding: 1em;
  /* width: 80%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "price buybutton"
    "shipment-cost shipment-cost";
  gap: 1em;
  text-align: center;
}

.infobox {margin-top:1em}
.unfold {display:none}
@media screen and (min-width:1100px){
  .add-table-top-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .unfold {display:block}
}
.gal-heroes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 700px) {
  .gal-heroes {
    display: flex;
    justify-content: space-around;
  }
  .grid-element:nth-of-type(5), .grid-element:nth-of-type(6) {display: none}
}
@media screen and (min-width: 1100px) {
  .grid-element:nth-of-type(5), .grid-element:nth-of-type(6) {display: block}
}
/* LAYOUT END */

/* PICTURE CONTAINER */
/* nav style */
.pic-nav-el {
  margin-right:0.7em;
  color:lightgrey;
  font-size: .9em;
  margin-bottom: 0.3em;
}
.pic-nav-el::before{
  content: "\203A";
  margin-right:0.2em
}
/* main picture style */
.pic-main {
  display:flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
/* side gallery style */
.pic-gallery-el {width:40px; height:40px; margin:0 2px 2px 0}
/* tag style*/
.tag {
  background: gray;
  padding: 2px 10px 5px 10px;
  text-transform: lowercase;
  border-radius: 10px;
  color: #fff;
  margin:2px;
  display:inline-block;
}
/* DESCRIPTION CONTAINER */
.desc-box-el {margin-bottom: 1em}
.desc-box-name {letter-spacing: 0.1em}
.value {
  font-weight:600;
  /* text-transform: lowercase */
}
.desc-box-size-table, .color-table, .qty-table {
  display: flex;
  margin-top: 0.6em;
}
.size {
  padding: 0.5em;
  margin-right: 1em;
  border: 1px solid lightgray;
}
.size:hover {background: #221812; color:#fff}
.color-table-el {
  padding: 1em;
  margin-right: 1em;
}
.color-table-black {background:#221812}
.color-table-brown {
  background:#855E42;
  position: relative;
  outline: 1px solid #000;
}
.color-table-other {background:brown}
.color-table-el:hover {
  /* transform: translateY(-2px); */
  outline: 1px solid #000;
}
.color-table-brown::after {
  background-image:  url(pic/icon/pixel-triangle.svg);
  background-size: 8px 8px;
  width: 8px; 
  height: 8px;
  content:'';
  position: absolute;
  top:-8px;
  left:.8em;
}
.qty-table-el {
  width:30px;
  height:30px;
  border:1px solid lightgray;
  display:grid;
  justify-items:center;
  align-items:center;
}
.qty-table-el-change {cursor:pointer}
.qty-table-el-change:hover {background:gray; color:#fff}
.prod-description, .additional-table{margin-left: 1em; margin-right:1em}
.buy-box {
  border:1px solid lightgray;
  border-radius: 10px;
  
}
.buy-box-el-price {
  font-size:1.8em;
  /* color: yellow; */
  /* text-shadow:2px 2px 0 #000; */
  font-weight:600;
}
.buy-box-el-price::before{
  content: url(pic/Gold_Piece_IMISC0700000_Item_icon_BG1.png);
}
.gold-icon {
  width:1em;
  height:1em;
}
.buy-box-el-buy {
  background: gray;
  color:#fff;
  display:grid;
  justify-items:center;
  align-items:center;
  margin: 0 3em;
}
.buy-box-el-shipment {color:gray}