/* color palette: */
.white {color: #fff}
.black {color: #000}
.light-brown {color: #F4AF6D}
.brown {color: #904514}
.dark-brown {color: #4A230A}
.steel-gray {color: #43464B}
.light-gray {color: #EEF0F0}
.gold {color: #FFAF44}
.saddle-brown {color: #855E42}

body, html {font-family:'Lato',sans-serif; margin:0}
a, button {cursor:pointer}
a {text-decoration:none; list-style:none; color:#000}
/* a:hover {text-decoration:underline} */

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {font-family: Dimitri; src: url('font/dimitri/DIMITRI_.TTF')} 
.logo {
  font-family: 'Dimitri';
  font-size: 3em;
  color: #855E42;
  text-shadow: 2px 5px 0 #F4AF6D;
}
/* START HEADER+NAV */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  height: 70px;
  justify-content: space-between;
}
.invisible {visibility: hidden}
.accountMenu img {height: 20px}
.avatar {display: none;}
header a {padding: 10px}
header a:hover{background:#855E42}

nav {
  padding-top: 70px;
  background-color: #855E42;
  text-transform: uppercase;
}
nav a {
  padding: 10px 20px;
  color: #fff;
}
nav a:hover{background:#221812}

@media only screen and (max-width: 800px) {
  .avatar {display: flex}
  .register, .login {display: none}
  nav a {padding: 10px 6px}
}
/* END HEADER+NAV */

/* NAV-GALLERY */
.nav-gallery {
  margin: 50px 0;
  text-align: center;
}
.picnbutt {
  position: relative;
  margin: 0 10px;
}
.picnbutt button {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  letter-spacing: 1px;
  background-color: #855E42;
  border: 1px #fff solid;
  color: #fff;
  padding: 5px 15px;
  font-size: 1.1em;
  font-weight: 900;
  text-transform: uppercase;
}
.picnbutt button:hover {
  background-color: #221812;
  color: #fff;
  border: 2px solid #fff;
}
.picnbutt img {
  width: 20%;
  max-width: 280px;
}
@media screen and (max-width: 1000px){.picnbutt button{padding:5px 5px}}

/* POLECANE */
.polecanePasek {
  display: flex;

  letter-spacing: 2.5px;
  font-size: 1.5em;
}

.polecanePasek:before, .polecanePasek:after {
  color: #855e42;
  content: '';
  flex: 1;
  border-bottom: solid 1px;
  margin: auto 0.25em;
}

.polecane {
  display: flex;
}

/* kafelek produktu */
.product {
  width: 120px;
  height: 120px; 
  margin-right: 10px;
  border: 2px solid #855e42;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge-sale, .badge-bestseller, .badge-new {
  position: absolute;
  align-self: flex-end;
  z-index: 8;

  padding: 5px 10px;
  background: #800000;
  color: #fdb9c8;
}

.badge-bestseller {
  background: #f9812a;
  color: #eedc82;
}

.badge-new {
  background: #0b6623;
  color: #c7ea46;
}

.img-responsive-lazy {
  transition: transform .2s;
  display: inline-block;
  overflow: hidden;
}

.img-responsive-lazy:hover {
  transform: scale(1.3);
}

h4 {
  margin: 0;
  letter-spacing: 0.7px;
  text-align: center;
}

.stara-cena {
  text-decoration: line-through;
}

.hero1 {grid-area: hero1}
.hero2 {grid-area: hero2}
.hero3 {grid-area: hero3}
.hero4 {grid-area: hero4}
.hero5 {grid-area: hero5}
.hero6 {grid-area: hero6}
.grid-big-img {
  grid-area: grid-big-img; 
  align-content: stretch;
  align-self: stretch;
}

.gallery-container {
  display: grid;
  width: 65%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  gap: 20px;
  justify-items: center;
  text-align: center;

  grid-template-rows: auto;
  grid-template-areas:
    "hero1 hero4 hero5 grid-big-img "
    "hero2 hero3 hero6 grid-big-img ";
}

.grid-pic {
  width: 100%;
}

.main-grid-pic {
  width: 100%;
}

.hero-description{
  font-size: 0.8em;
  font-style: italic;
}

.mirrored-gallery {
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-areas:
    "grid-big-img hero1 hero2 hero3"
    "grid-big-img hero4 hero6 hero5";
}

/* Footer {
  width: 100%;
  background-color: #855E42;
  color: #fff;
  padding: 100px 0;
} */

/* advantages strip: 
- 75px height
- (max-width: 700px) {display: none}
*/

.advantages-strip {
  margin-top: 50px;
  text-transform: uppercase;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  background-color: #43464B;
  color: #EEF0F0;
  text-shadow: 2px 0 0 #000;
}

.advantage {
  padding: 25px 0;
  width: 25%;
  border-right: 1px solid #EEF0F0;
  text-align: center;
  font-size: 0.9em;
}

.advantage img {
  width: 25px;
  padding-right: 15px;
}

@media screen and (max-width: 700px) {
  .advantages-strip {
    display: none;
  }
}

/* FOOTER */
Footer {
  background-color: #855E42;
  /* color: #EEE9E5; */
  color: #CDBDB1;
  padding: 40px 0;
  letter-spacing: 0.07em;
}

.footerContainer {
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
}

.strip {
  margin: 20px 200px 20px 200px;
  text-align: center;
  font-size: 0.9em;
}
.strip1 {
  border-bottom: 1px solid #221812;
  padding-bottom: 20px;
}

.strip2 {
  border-top: 1px solid #221812;
  padding-top: 20px;
  font-weight: 700;
}

.footerColumn{
  display: flex;
  flex-direction: column;
  line-height: 200%;
}

.footerColumn img {
  margin: 10px 0;
  height: 60px;
}

.footerColumn div {
  font-weight: 900;
  color: #221812;
}

.footerColumn span {
  line-height: 140%;
}

.serious {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .strip {margin: 20px 100px 20px 100px;}
}


@media screen and (max-width: 700px) {
  .footerContainer {
    display: grid;
  }
  .footerColumn img {
    width: 250px;
  }
  .footerColumn {
    margin-bottom: 40px;
  }
  .strip {
    font-size: 0.8em;
  }
}

.footerColumn .logo {
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #CDBDB1;
  text-shadow: 3px 5px 0 #221812;
}

.strip3 {
  border-top: 1px solid #221812;
  padding-top: 20px;
}